<!DOCTYPE html>
<html lang="en">

<head>
  <title>WHAM</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">WHAM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-stretch" id="navbar">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="#">Profile
          <span class="sr-only">(current)</span>
        </a>
        <a class="nav-item nav-link" href="/logout">Sign out</a>
      </div>
    </div>
  </nav>
  <div class="container">
    <h1>Patients</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Last Active</th>
          <th>Latest Score</th>
        </tr>
      </thead>
      <tbody>
        {{#each patients}}
        <tr>
          <td class="click-cell" onclick={{concat "window.location='/patients/" username "'"}}>{{username}}</td>
          <td class="click-cell" onclick={{concat "window.location='/patients/" username "'"}}>{{last_activity_time}}</td>
          <td class="click-cell" onclick={{concat "window.location='/patients/" username "'"}}>{{last_score}}</td>
          <td>
            <form action={{concat "/therapists/" ../therapistID "/patients/" username "?_method=DELETE"}} method="POST" onsubmit="setTimeout(function () { window.location.reload(); }, 100)">
              <button type="submit">Remove</button>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class="container">
    <form action={{concat "/therapists/" therapistID "/patients"}} method="POST" onsubmit="setTimeout(function () { window.location.reload(); }, 100)">
      Request Patient:<br>
      <input type="text" name="patientID"><br>
      <button type="submit">Send</button>
    </form>
  </div>
</body>

</html>